<div class="card contact four" {{action 'transitionToFour'}}>
    <div class="sidebar-text"> w<br>o<br>r<br>k </div>
  <div class="card contact three" {{action 'transitionToThree'}}>
      <div class="sidebar-text"> a<br>b<br>o<br>u<br>t </div>
    <div class="card contact two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">h<br>o<br>m<br>e </div>
      <div class="card contact one" {{action 'dontTransition'}}>
          <div class="sidebar-text-one">c<br>o<br>n<br>t<br>a<br>c<br>t
          </div>
				<div>
				{{google-map}}
					<div class="map-text right">
					 <h3> Curiosity Piqued? <br> Give us a shout or find us around town.</h3>
					 <p> Phone:  720.352.4336 </p>
					 <p> Email:  <a class="cta" href="mailto:jon@iheartwunderwerkz.com"> jon@iheartwunderwerkz.com </a></p>
					 <p> Visit:  3350 Brighton Blvd | Denver, CO | 80216</p>
					</div>
          <div class="phone-text right">
           <p> 720.352.4336 </p>
           <p> <a class="cta" href="mailto:jon@iheartwunderwerkz.com"> jon@iheartwunderwerkz.com </a></p>
           <p> 3350 Brighton Blvd <br> Denver, CO 80216</p>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>