<div class="card contact four" {{action 'transitionToFour'}}>
    <div class="sidebar-text"> w<br>o<br>r<br>k </div>
  <div class="card contact three" {{action 'transitionToThree'}}>
      <div class="sidebar-text"> a<br>b<br>o<br>u<br>t </div>
    <div class="card contact two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">h<br>o<br>m<br>e </div>
      <div class="card contact one">
        <div class="sidebar-text-one">c<br>o<br>n<br>t<br>a<br>c<br>t
        </div>
        <div class="half contact-half">
          <h2> GET <br/> IN <br/>TOUCH </h2>
				</div>
        <div class="half contact-half">
          <div class="text-wrap">
            <label> Visit </label>
            <a{{action 'mapLink'}} class="cta-wrap">
              <p class="cta"> 3515 Ringsby Ct #308 </p>
              <p class="cta"> Denver, CO 80216 </p>
            </a>
            <label> Email </label>
            <a {{action 'emailLink'}}>
              <p class="cta"> JON@IHEARTWUNDERWERKZ.COM </p>
            </a>
            <label> Phone </label>
              <p> 303.594.4990 </p>
            <label> Instagram </label>
            <a {{action 'instaLink'}}>
              <p class="cta"> @Wunder_werkz </p>
            </a>
            <label> Facebook </label>
            <a {{action 'facebookLink'}}>
              <p class="cta"> /Wunderwerkz </p>
            </a>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
