{{card-one transitionToTwo="transitionToTwo" }}
{{card-two transitionToTwo="transitionToTwo"}}
{{card-three transistionToThree="transitionToThree"}}
{{card-four transitionToFour="transitionToFour"}}
<div class="content">
	{{liquid-outlet}}
</div>