{{!-- {{#link-to 'bar'}} BAR {{/link-to}}
{{#link-to 'foo'}} FOO {{/link-to}} --}}
{{!-- <div class="card one" {{action 'transitionToTwo'}} >
</div>
<div class="card two" {{action 'transitionToTwo'}}>
</div>
<div class="card three" {{action 'transitionToThree'}}>
</div>
<div class="card four" {{action 'transitionToFour'}}>
</div>
<div class="content">
	{{liquid-outlet}}
</div>
 --}}

<div class="card four">
	<div class="card three">
		<div class="card two">
	
		</div>
	</div>
</div>
<div class="card one" {{action 'transitionToTwo'}} >
</div>
<div class="content">
	{{liquid-outlet}}
</div>
