<div class="card work four" {{action 'transitionToFour'}}>
    <div class="sidebar-text">a<br>b<br>o<br>u<br>t</div>
  <div class="card work three" {{action 'transitionToThree'}}>
      <div class="sidebar-text">h<br>o<br>m<br>e</div>
    <div class="card work two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">c<br>o<br>n<br>t<br>a<br>c<br>t</div>
      <div class="card work one" {{action 'dontTransition'}}>
        <div class="inner-wrapper-2 scroll">
                  <div class="sidebar-text-one">w<br>o<br>r<br>k</div>
          <div class="work-text">
            <h5> some stuff we're doing at @wunder_werkz</h5>
          </div>
          <div class="work-wrapper">
            {{#each model.images as |image|}}
            <div class="image-wrap">
              <img src={{image.standard.url}} />
              <div class="caption">
                <div class="caption-text">
                {{image.caption}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>