<div class="card about four" {{action 'transitionToFour'}}>
  <div class="card about three" {{action 'transitionToThree'}}>
    <div class="card about two" {{action 'transitionToTwo'}}>
      <div class="card about one" >
        <div class="inner-wrapper-2 scroll">
          <div class="work-text">
            <h5> some stuff we're doing at @wunderwerkz</h5>
          </div>
          <div class="work-wrapper">
            {{#each model.images as |image|}}
            <div class="image-wrap">
              <img src={{image.standard.url}} />
              <div class="caption">
                <div class="caption-text">
                {{image.caption}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>