<div class="card about four" {{action 'transitionToFour'}}>
    <div class="sidebar-text">h<br>o<br>m<br>e</div>
  <div class="card about three" {{action 'transitionToThree'}}>
      <div class="sidebar-text">c<br>o<br>n<br>t<br>a<br>c<br>t</div>
    <div class="card about two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">w<br>o<br>r<br>k</div>
      <div class="card about one" {{action 'dontTransition'}} >
          <div class="sidebar-text-one">a<br>b<br>o<br>u<br>t</div>
				<div class="text-left half">
					<h2> MAKING BETTER BRANDS THROUGH THE POWER OF SCIENCE</h2>
				</div>
				<div class="text-left half">
				  <div class="text-wrap">
				    <p> A lot of people think design is just “pretty pictures”, “pushing pixels”, “nyan cats” –– but good design starts with an understanding. For us it start with an ethnography. A guide to getting to know you, so to speak. Because if we don’t know the story, we can’t tell the story. And without the story, we can’t know the shapes, colors or forms that make you you. We don’t just “go with our feelings” or follow what’s “popular”, we get them to stare, point, live, and gram.</p>
            <span class="horizontal-scroll">
				    <h5> OUR FANCY CLIENT LIST </h5>
				    <p class="small"> DGS Law, Track Architecture, The Source Hotel, The Source, RiNo Yacht Club, Goldyn, New Belgium, Tomahawk International, Full Tilt, Line Skis,  The Bureau, South of France, Among the Colors, Zeppelin Development, Phunkshun Wear, 34 degrees, Dynia Architects, MM Local, Plot Project, The Proper Pour, Guilded, Oso.
              <a {{action 'downloadClick'}} target="_blank"><button> Download A Deck </button></a>
              </p>
            </span>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- {{about-text}} --}}
