<div class="card about four hide-phone" {{action 'transitionToFour'}}>
    <div class="sidebar-text">h<br>o<br>m<br>e</div>
  <div class="card about three" {{action 'transitionToThree'}}>
      <div class="sidebar-text">c<br>o<br>n<br>t<br>a<br>c<br>t</div>
    <div class="card about two" {{action 'transitionToTwo'}}>
    <div class="sidebar-text">w<br>o<br>r<br>k</div>
      <div class="card about one" {{action 'dontTransition'}} >
          <div class="sidebar-text-one">a<br>b<br>o<br>u<br>t</div>
				<div class="text-left half">
					<h2> Bad Apples. Good Design.</h2>
				</div>
				<div class="text-left half">
				  <div class="text-wrap">
            <div class="scrollable-area">
  				    <p> Wunder Werkz is a full service design studio based in Denver Colorado and filled with design geeks and taco lovers. We work on both self produced and commissioned projects and believe in style and simplicity that isn’t afraid to have some fun. From posters to palaces, typography to tattoo parlors, barber shops to brothels, if you want to step out of the box and get a little dangerous then we are the design studio for you.</p>
              <span class="horizontal-scroll">
  				    <h5> Work </h5>
  				    <p class="small"> The Woods, Smōk, Cart Driver, Blue Sky Group, DGS Law, Track Architecture, The Source Hotel, The Source, RiNo Yacht Club, Goldyn, New Belgium, Tomahawk International, Full Tilt, Line Skis,  The Bureau, South of France, Among the Colors, Zeppelin Development, Phunkshun Wear, 34 degrees, Dynia Architects, MM Local, Plot Project, The Proper Pour, Guilded, Oso, Bun Bun, Wurstküche.
                <a {{action 'downloadClick'}} target="_blank"><button> Download A Deck </button></a>
                </p>
              </span>
              <p class="waves-link" {{action 'zineLink'}}>Check out our side project: W A V E S Zine </p>
            </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- {{about-text}} --}}
